<!DOCTYPE html>
<html lang="en">
<head>
  <title>Test</title>
  <module href="/components/head.html"></module>
</head>
<body>
  <module href="/components/header.html"></module>

  <main class="main">
    <div class="hero-img">
      <div class="container">
        <div class="row">
          <div class="twelve columns hero-text">
            <h1><span class="txt-green">Where</span> you need it, <br><span class="txt-green">When</span> you need it.</h1>
            <p>You need trucks and need them quickly. We deliver them in seven to ten days nationwide, sometimes even the next day.</p>
            <br>
            <button class="btn-browse">
              browse our vehicle lineup
              <span class="right-arrow" aria-hidden="true">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                  <path style="fill:#fff" d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z" data-name="Right"/>
                </svg>
              </span>
            </button>
          </div>
        </div>
        <div class="row u-position-relative hero-trucks">
          <div class="one-half column">
            <img src="images/ram-truck copy.png" alt="Image of a Dodge Ram Truck">
          </div>
          <div class="one-half column">
            <img class="chevy" src="images/chevy-truck copy.png" alt="Image of a Chevy Truck">
          </div>
        </div>
      </div>
    </div>
    <div class="section-express-advantage u-mb--3">
      <div class="container">
        <div class="row">
          <div class="twelve columns">
            <h2>The Express 4X4 Advantage</h2>
          </div>
        </div>
        <div class="row">
          <div class="four columns cta-container">
            <div class="cta">
              <div class="cta-img">
                <svg fill="#fff" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                width="800px" height="800px" viewBox="0 0 610.398 610.398"
                xml:space="preserve">
              <g>
                <g>
                  <path d="M159.567,0h-15.329c-1.956,0-3.811,0.411-5.608,0.995c-8.979,2.912-15.616,12.498-15.616,23.997v10.552v27.009v14.052
                    c0,2.611,0.435,5.078,1.066,7.44c2.702,10.146,10.653,17.552,20.158,17.552h15.329c11.724,0,21.224-11.188,21.224-24.992V62.553
                    V35.544V24.992C180.791,11.188,171.291,0,159.567,0z"/>
                  <path d="M461.288,0h-15.329c-11.724,0-21.224,11.188-21.224,24.992v10.552v27.009v14.052c0,13.804,9.5,24.992,21.224,24.992
                    h15.329c11.724,0,21.224-11.188,21.224-24.992V62.553V35.544V24.992C482.507,11.188,473.007,0,461.288,0z"/>
                  <path d="M539.586,62.553h-37.954v14.052c0,24.327-18.102,44.117-40.349,44.117h-15.329c-22.247,0-40.349-19.79-40.349-44.117
                    V62.553H199.916v14.052c0,24.327-18.102,44.117-40.349,44.117h-15.329c-22.248,0-40.349-19.79-40.349-44.117V62.553H70.818
                    c-21.066,0-38.15,16.017-38.15,35.764v476.318c0,19.784,17.083,35.764,38.15,35.764h468.763c21.085,0,38.149-15.984,38.149-35.764
                    V98.322C577.735,78.575,560.671,62.553,539.586,62.553z M527.757,557.9l-446.502-0.172V173.717h446.502V557.9z"/>
                  <path d="M353.017,266.258h117.428c10.193,0,18.437-10.179,18.437-22.759s-8.248-22.759-18.437-22.759H353.017
                    c-10.193,0-18.437,10.179-18.437,22.759C334.58,256.074,342.823,266.258,353.017,266.258z"/>
                  <path d="M353.017,348.467h117.428c10.193,0,18.437-10.179,18.437-22.759c0-12.579-8.248-22.758-18.437-22.758H353.017
                    c-10.193,0-18.437,10.179-18.437,22.758C334.58,338.288,342.823,348.467,353.017,348.467z"/>
                  <path d="M353.017,430.676h117.428c10.193,0,18.437-10.18,18.437-22.759s-8.248-22.759-18.437-22.759H353.017
                    c-10.193,0-18.437,10.18-18.437,22.759S342.823,430.676,353.017,430.676z"/>
                  <path d="M353.017,512.89h117.428c10.193,0,18.437-10.18,18.437-22.759c0-12.58-8.248-22.759-18.437-22.759H353.017
                    c-10.193,0-18.437,10.179-18.437,22.759C334.58,502.71,342.823,512.89,353.017,512.89z"/>
                  <path d="M145.032,266.258H262.46c10.193,0,18.436-10.179,18.436-22.759s-8.248-22.759-18.436-22.759H145.032
                    c-10.194,0-18.437,10.179-18.437,22.759C126.596,256.074,134.838,266.258,145.032,266.258z"/>
                  <path d="M145.032,348.467H262.46c10.193,0,18.436-10.179,18.436-22.759c0-12.579-8.248-22.758-18.436-22.758H145.032
                    c-10.194,0-18.437,10.179-18.437,22.758C126.596,338.288,134.838,348.467,145.032,348.467z"/>
                  <path d="M145.032,430.676H262.46c10.193,0,18.436-10.18,18.436-22.759s-8.248-22.759-18.436-22.759H145.032
                    c-10.194,0-18.437,10.18-18.437,22.759S134.838,430.676,145.032,430.676z"/>
                  <path d="M145.032,512.89H262.46c10.193,0,18.436-10.18,18.436-22.759c0-12.58-8.248-22.759-18.436-22.759H145.032
                    c-10.194,0-18.437,10.179-18.437,22.759C126.596,502.71,134.838,512.89,145.032,512.89z"/>
                </g>
              </g>
              </svg>
              </div>
              <div class="cta-main">
                <div class="cta--left"></div>
                <div class="cta--right">
                  <h4>7-10 DAY DELIVERY NATIONWIDE</h4>
                  <p>You'll get the trucks you need to the right jobsite in under a week.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="four columns">
            <div class="cta">
              <div class="cta-img">
                <svg width="80px" height="80px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff">
                  <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                  <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                  <g id="SVGRepo_iconCarrier">
                    <path d="M9 12L11 14L15 9.99999M20 12C20 16.4611 14.54 19.6937 12.6414 20.683C12.4361 20.79 12.3334 20.8435 12.191 20.8712C12.08 20.8928 11.92 20.8928 11.809 20.8712C11.6666 20.8435 11.5639 20.79 11.3586 20.683C9.45996 19.6937 4 16.4611 4 12V8.21759C4 7.41808 4 7.01833 4.13076 6.6747C4.24627 6.37113 4.43398 6.10027 4.67766 5.88552C4.9535 5.64243 5.3278 5.50207 6.0764 5.22134L11.4382 3.21067C11.6461 3.13271 11.75 3.09373 11.857 3.07827C11.9518 3.06457 12.0482 3.06457 12.143 3.07827C12.25 3.09373 12.3539 3.13271 12.5618 3.21067L17.9236 5.22134C18.6722 5.50207 19.0465 5.64243 19.3223 5.88552C19.566 6.10027 19.7537 6.37113 19.8692 6.6747C20 7.01833 20 7.41808 20 8.21759V12Z" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  </g>
                </svg>
              </div>
              <div class="cta-main">
                <div class="cta--left">
                </div>
                <div class="cta--right">
                  <h4>WEAR & TEAR FORGIVENESS</h4>
                  <p>You won't be penalized for using our trucks to get the job done.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="four columns">
            <div class="cta">
              <div class="cta-img">
                <svg width="80px" height="80px" viewBox="-51.2 -51.2 614.40 614.40" xmlns="http://www.w3.org/2000/svg" fill="#ffffff" stroke="#ffffff">
                  <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                  <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                  <g id="SVGRepo_iconCarrier">
                    <path fill="#ffffff" d="M135.3 38.88L25.22 73.93l74.73 87.97 12.75-44.5c44.9 15 73.8 35.5 91.6 58.3 20.6 26.2 27.5 56.2 25.7 88.9-3.6 65.4-45.7 139.7-83.8 185.5l27.6 23c31.7-37.9 65.6-91.6 82.2-149.5 16.6 57.9 50.5 111.6 82.2 149.5l27.6-23C327.7 404.3 285.6 330 282 264.6c-1.8-32.7 5.1-62.7 25.7-88.9 17.8-22.8 46.7-43.3 91.5-58.3l12.8 44.5 74.8-87.97-110.1-35.05 12.6 43.94c-50.8 16.8-86.7 40.98-110 70.68-10.3 13.2-17.9 27.2-23.3 41.9-5.4-14.7-13-28.7-23.3-41.9-23.3-29.7-59.2-53.88-110-70.68z"></path>
                  </g>
                </svg>
              </div>
              <div class="cta-main">
                <div class="cta--left">
                </div>
                <div class="cta--right">
                  <h4>MORE FLEXIBILITY</h4>
                  <p>Adjust the size of your fleet to meet the demands of your business.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="twelve columns center">
            <button class="btn-browse right-70">
              Rent Trucks Now
              <span class="right-arrow" aria-hidden="true">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                  <path style="fill:#fff" d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z" data-name="Right"/>
                </svg>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="section-promise u-mb--3">
      <div class="container">
        <div class="row">
          <div class="one-half column u-pt-3">
            <div class="text-box">
              <h3>Our Promise To You</h3>
              <p>
                We are committed to providing the highest level of service you can find. Every day, every vehicle, every job.
                When you turn to us for fleet truck rental service, you'll find a true partner in every sense of the word. We know that
                our 4x4 trucks are more than just vehicles - they're essential tools that enable you and your crew to fulfill the promises
                you make to your customers. That's why we go above and beyond what's expected to deliver commercial truck
                rentals that provide you with maximum value. We will ensure that you have exactly what the job calls for,
                exactly when it needs to be there and without the strings attached by other providers.
              </p>
              <div class="btn-right">
                <button class="btn-browse right-70">
                  Rent Trucks Now
                  <span class="right-arrow" aria-hidden="true">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                      <path style="fill:#fff" d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z" data-name="Right"/>
                    </svg>
                  </span>
                </button>
              </div>
            </div>
          </div>
          <div class="one-half column">
            <div class="img-box">
              <div class="img-bg">
                <div class="photo">
                  <img src="images/2018-Ford-F450-Super-Duty-105.png" alt="Image of a Ford F450 Truck">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-trusted u-mb--3">
      <div class="container">
        <div class="row">
          <div class="twelve columns">
            <h2>Trusted provider for many industries</h2>
            <p>
              We provide truck rental services that help customers across multiple sectors get their work done. Whether that's
              hauling debris away from a construction site, delivering crews to remote renewable power projects or carrying equipment
              for telecom maintenance, we have the truck rental solutions for the job. If you have a short-term need for vehicles that can
              conquer virtually any terrain, you can turn to us for convenient 4x4 truck rental service that fits your needs and your budget.
            </p>
          </div>
        </div>
        <div class="row u-mb--3 flex">
          <div class="two columns mr-1 mob-mb-2">
            <img src="images/wind.png" alt="Image of windfarm towers">
          </div>
          <div class="two columns mr-1 mob-mb-2">
            <img src="images/oil.png" alt="Image of Oil & Natural Gas Pumps">
          </div>
          <div class="two columns mr-1 mob-mb-2">
            <img src="images/solar.png" alt="Image of solar panels">
          </div>
          <div class="two columns">
            <img src="images/wireless.png" alt="Image of a Wireless Tower">
          </div>
        </div>
        <div class="row u-mb--3 flex">
          <div class="two columns mr-1 mob-mb-2">
            <img src="images/environmental.png" alt="Image of Factories that process environmental pollutants">
          </div>
          <div class="two columns mr-1 mob-mb-2">
            <img src="images/construction.png" alt="Image of construction equipment">
          </div>
          <div class="two columns mr-1 mob-mb-2">
            <img src="images/snowremoval.png" alt="Snow removal vehicles, plowing snow">
          </div>
          <div class="two columns">
            <img src="images/military.png" alt="Military trucks traveling through the desert">
          </div>
        </div>
      </div>
    </div>

    <div class="section-lineup u-mb--3">
      <div class="container">
        <div class="row">
          <div class="one-half column">
            <div class="img-box">
              <div class="img-bg">
                <div class="photo">
                  <img src="images/Line of F150 Diesels.png" alt="Image of a line up of Ford F150 Trucks">
                </div>
              </div>
            </div>
          </div>
          <div class="one-half column u-pt-3">
            <div class="text-box">
              <h3>The Lineup</h3>
              <p>
                We have 4x4 crew cab trucks to handle jobs of all sizes. Our current lineup includes ½-ton, ¾-ton and 1-ton vehicles —
                all ready to face the challenges of your job site. These feature all-terrain tires and tow packages, giving them the capabilities
                necessary to handle the most demanding and challenging jobs. With payloads that can exceed 3,600 pounds, you can tackle your
                project with confidence knowing that you'll have the muscle to get it done.
              </p>
              <p>
                Our options also come fully equipped with the latest
                safety features. These include rearview cameras, exterior back-up alarms and ABS brakes. When you turn to us for your commercial
                fleet truck rental service, you'll get the safest, most capable equipment available.
              </p>
              <div class="btn-right">
                <button class="btn-browse right-70">
                  See The Trucks
                  <span class="right-arrow" aria-hidden="true">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                      <path style="fill:#fff" d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z" data-name="Right"/>
                    </svg>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </main>

  <module href="/components/footer.html"></module>
  <script type="module" src="/bundle.js"></script>
</body>
</html>
