<!DOCTYPE html>
<html lang="en">
<head>
  <title>Test</title>
  <module href="/components/head.html"></module>
</head>
<body>
  <module href="/components/header.html"></module>

  <main class="main">
    <div class="listing-hero listing-hero-img">
      <div class="container">
        <div class="row">
          <div class="twelve columns hero-text">
            <h1>CREW CAB PICKUP 4X4</h1>
            <p>Adjust the size of your fleet to meet the demands of your business.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="listing-body">
      <div class="container">
        <div class="row">
          <div class="listing-container">
            <div class="listing">
              <div class="listing-image-box">
                <img src="images/Pickup-Trucks-Ford-F-250-32313321.png" alt="Ford F 250 Truck">
              </div>
              <div class="listing-features">
                <h4>Ford F250 XLT 4x4 Crew Cab Pick Up</h4>
                <ul class="listing-details">
                  <li>
                    <strong>Max. Towing & Features</strong><br>
                    Trailer Hitch, Tow Hooks, Trailer Brake Control, Max. Towing 14,700 lbs
                  </li>
                  <li><strong>Max. Payload:</strong> 2,660 lbs.</li>
                  <li>
                    <strong>Safety Features</strong><br>
                    Fleet Telematics, Rear View Camera, Exterior Reverse Alarm
                  </li>
                  <li>
                    <strong>Engine & Transmission</strong><br>
                    6.7 L DOHC Power Stroke Turbo Engine, Automatic Transmission
                  </li>
                  <li>
                    <strong>Fuel</strong> Diesel
                  </li>
                </ul>
              </div>
            </div>
            <div class="listing">
              <div class="listing-image-box">
                <img src="images/Pickup-Trucks-Ford-F-250-32313321.png" alt="Ford F 250 Truck">
              </div>
              <div class="listing-features">
                <h4>Ford F250 XLT 4x4 Crew Cab Pick Up</h4>
                <ul class="listing-details">
                  <li>
                    <strong>Max. Towing & Features</strong><br>
                    Trailer Hitch, Tow Hooks, Trailer Brake Control, Max. Towing 14,700 lbs
                  </li>
                  <li><strong>Max. Payload:</strong> 2,660 lbs.</li>
                  <li>
                    <strong>Safety Features</strong><br>
                    Fleet Telematics, Rear View Camera, Exterior Reverse Alarm
                  </li>
                  <li>
                    <strong>Engine & Transmission</strong><br>
                    6.7 L DOHC Power Stroke Turbo Engine, Automatic Transmission
                  </li>
                  <li>
                    <strong>Fuel</strong> Diesel
                  </li>
                </ul>
              </div>
            </div>
            <div class="listing">
              <div class="listing-image-box">
                <img src="images/Pickup-Trucks-Ford-F-250-32313321.png" alt="Ford F 250 Truck">
              </div>
              <div class="listing-features">
                <h4>Ford F250 XLT 4x4 Crew Cab Pick Up</h4>
                <ul class="listing-details">
                  <li>
                    <strong>Max. Towing & Features</strong><br>
                    Trailer Hitch, Tow Hooks, Trailer Brake Control, Max. Towing 14,700 lbs
                  </li>
                  <li><strong>Max. Payload:</strong> 2,660 lbs.</li>
                  <li>
                    <strong>Safety Features</strong><br>
                    Fleet Telematics, Rear View Camera, Exterior Reverse Alarm
                  </li>
                  <li>
                    <strong>Engine & Transmission</strong><br>
                    6.7 L DOHC Power Stroke Turbo Engine, Automatic Transmission
                  </li>
                  <li>
                    <strong>Fuel</strong> Diesel
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="listing-container">
            <div class="listing">
              <div class="listing-image-box">
                <img src="images/Pickup-Trucks-Ford-F-250-32313321.png" alt="Ford F 250 Truck">
              </div>
              <div class="listing-features">
                <h4>Ford F250 XLT 4x4 Crew Cab Pick Up</h4>
                <ul class="listing-details">
                  <li>
                    <strong>Max. Towing & Features</strong><br>
                    Trailer Hitch, Tow Hooks, Trailer Brake Control, Max. Towing 14,700 lbs
                  </li>
                  <li><strong>Max. Payload:</strong> 2,660 lbs.</li>
                  <li>
                    <strong>Safety Features</strong><br>
                    Fleet Telematics, Rear View Camera, Exterior Reverse Alarm
                  </li>
                  <li>
                    <strong>Engine & Transmission</strong><br>
                    6.7 L DOHC Power Stroke Turbo Engine, Automatic Transmission
                  </li>
                  <li>
                    <strong>Fuel</strong> Diesel
                  </li>
                </ul>
              </div>
            </div>
            <div class="listing">
              <div class="listing-image-box">
                <img src="images/Pickup-Trucks-Ford-F-250-32313321.png" alt="Ford F 250 Truck">
              </div>
              <div class="listing-features">
                <h4>Ford F250 XLT 4x4 Crew Cab Pick Up</h4>
                <ul class="listing-details">
                  <li>
                    <strong>Max. Towing & Features</strong><br>
                    Trailer Hitch, Tow Hooks, Trailer Brake Control, Max. Towing 14,700 lbs
                  </li>
                  <li><strong>Max. Payload:</strong> 2,660 lbs.</li>
                  <li>
                    <strong>Safety Features</strong><br>
                    Fleet Telematics, Rear View Camera, Exterior Reverse Alarm
                  </li>
                  <li>
                    <strong>Engine & Transmission</strong><br>
                    6.7 L DOHC Power Stroke Turbo Engine, Automatic Transmission
                  </li>
                  <li>
                    <strong>Fuel</strong> Diesel
                  </li>
                </ul>
              </div>
            </div>
            <div class="listing">
              <div class="listing-image-box">
                <img src="images/Pickup-Trucks-Ford-F-250-32313321.png" alt="Ford F 250 Truck">
              </div>
              <div class="listing-features">
                <h4>Ford F250 XLT 4x4 Crew Cab Pick Up</h4>
                <ul class="listing-details">
                  <li>
                    <strong>Max. Towing & Features</strong><br>
                    Trailer Hitch, Tow Hooks, Trailer Brake Control, Max. Towing 14,700 lbs
                  </li>
                  <li><strong>Max. Payload:</strong> 2,660 lbs.</li>
                  <li>
                    <strong>Safety Features</strong><br>
                    Fleet Telematics, Rear View Camera, Exterior Reverse Alarm
                  </li>
                  <li>
                    <strong>Engine & Transmission</strong><br>
                    6.7 L DOHC Power Stroke Turbo Engine, Automatic Transmission
                  </li>
                  <li>
                    <strong>Fuel</strong> Diesel
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="twelve columns">
            <div class="button-box">
              <button class="btn-browse">
                Reserve Today
                <span class="right-arrow" aria-hidden="true">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                    <path style="fill:#fff" d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z" data-name="Right"/>
                  </svg>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>


  </main>

  <module href="/components/footer.html"></module>
  <script type="module" src="/bundle.js"></script>
</body>
</html>
