<!DOCTYPE html>
<html lang="en">
<head>
  <title>Test</title>
  <module href="/components/head.html"></module>
</head>
<body>
  <header class="header">
    <div class="content-box">
      <div class="header-logo bg-mercury pt-1 pb-1">
        <img src="images/exp-logo.png" alt="Express 4x4 Truck Rental logo">
      </div>
      <div class="header--right pt-1 pb-1">
        <div class="contact-us">
          <a class="font-white" tel="tel:8008267368">(800) 826-7368</a> &nbsp; | &nbsp;
          <a href="#login">CUSTOMER LOGIN</a>
        </div>
        <nav class="navigation">
          <ul class="main-nav">
            <li>
              <a href="#">Vehicle Lineup</a>
            </li>
            <li>
              <a href="#">Our Service</a>
            </li>
            <li>
              <a href="#">Why Rent?</a>
            </li>
            <li>
              <a href="#">About Us</a>
            </li>
            <li>
              <a href="#">Careers</a>
            </li>
            <li>
              <a href="#">Contact Us</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <main class="main">
    <section class="hero-section">
      <div class="hero-img">
        <div class="header-container">
          <h1><span class="green">WHERE</span> YOU NEED IT, <span class="green">WHEN</span> YOU NEED IT.</h1>
          <p>You need trucks and need them quickly. We deliver them in seven to ten days nationwide, sometimes even the next day.</p>
          <button class="btn-green">
            <span class="left-arrow">
              browse our vehicle lineup
            </span>
              <span class="right-arrow">
                <?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                <svg width="800px" height="800px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="#ffffff" class="bi bi-arrow-right-short">
                  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                </svg>
              </span>
          </button>
        </div>
      </div>
      <div class="img-cont">
        <img src="images/ram-truck copy.png" alt="Ram Truck">
        <img src="images/chevy-truck copy.png" alt="Chevy Truck">
      </div>
    </section>
    <section class="advantage-section">
      <h2>The Express 4x4 Advantage</h2>
      <div class="cta-container">

      </div>
    </section>
  </main>
  <script type="module" src="/bundle.js"></script>
</body>
</html>
