<header class="header">
  <div class="container">
    <div class="row">
      <div class="four columns">
        <div class="logo">
          <img src="images/exp-logo.png" alt="Express 4x4 Logo">
        </div>
      </div>
      <div class="eight columns">
        <ul class="menu">
          <li><a href="tel:8008267368">(800) 267-7368</a></li>
          <li><a class="login" href="#login">Customer Login</a></li>
        </ul>

        <ul class="menu u-move-down">
          <li><a href="#vehicle-lineup">Vehicle Lineup</a></li>
          <li><a href="#service">Our Service</a></li>
          <li><a href="#whyrent">Why Rent?</a></li>
          <li><a href="#aboutus">About Us</a></li>
          <li><a href="$careers">Careers</a></li>
          <li><a href="#contact">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
